.feynman {
  height: 890px;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
  background-image: url(/images/feinman.png);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 867px, 637px;
  box-sizing: border-box;
  padding-top: 100px;
  flex-direction: column;
}
